<!-- 公共js和css -->

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="keywords" content="职业卫生,安全,辐射" />
<meta name="description" content="职业卫生和安全,医院放射诊疗取证" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- basic styles -->
<link href="/ace/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/ace/css/font-awesome.min.css" />

<!--[if IE 7]>
  <link rel="stylesheet" href="/ace/css/font-awesome-ie7.min.css" />
<![endif]-->

<!-- page specific plugin styles -->

<!-- fonts -->
<link rel="stylesheet" href="/css/fonts.googleapis.com.css" />
<!-- page specific plugin styles -->
<link rel="stylesheet" href="/ace/css/jquery-ui-1.10.3.full.min.css" /><!-- 表格/日历/数字/弹出框 -->
<link rel="stylesheet" href="/ace/css/datepicker.css" /><!-- 表格/日历 -->
<link rel="stylesheet" href="/css/zTreeStyle/zTreeStyle.css" type="text/css"><!-- 树图 -->
<link rel="stylesheet" href="/js/art-dialog/ui-dialog2.css" /><!--dialog对话框样式-->
<link rel="stylesheet" href="/js/art-dialog/ui-dialog.css" /><!--art-dialog对话框样式-->
<link rel="stylesheet" href="/js/jqgrid/css/ui.jqgrid.css" /><!-- 表格/日历 -->
<link rel="stylesheet" href="/ace/css/chosen.css" /><!-- 下拉多选 -->
<link rel="stylesheet" href="/js/uploadify/uploadify.css"><!-- 上传 -->
<link rel="stylesheet" href="/js/jgrowl/jquery.jgrowl.css"><!-- 提示信息 -->

<!-- ace styles -->
<link rel="stylesheet" href="/ace/css/ace.min.css" /><!-- 公用 -->
<link rel="stylesheet" href="/ace/css/daterangepicker.css" /><!--日期范围-->
<link rel="stylesheet" href="/ace/css/bootstrap-timepicker.css" /><!--日期范围-->


<!--[if lte IE 8]>
  <link rel="stylesheet" href="/ace/css/ace-ie.min.css" />
<![endif]-->

<!-- inline styles related to this page -->
<!-- ace settings handler -->
<link rel="stylesheet" href="/css/jquery.jOrgChart.css" />


<link rel="stylesheet" href="/css/ace-patch.css" />

<!-- jquery 1.10.2 -->
<script src="/ace/js/jquery-1.10.2.js"></script>

<!-- jquery ui -->
<script src="/ace/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/ace/js/jquery-ui-1.10.3.full.min.js"></script>

<!-- bootstrap -->
<script src="/ace/js/bootstrap.min.js"></script>

<!-- 时间日期插件 -->
<script src="/ace/js/moment.min.js"></script>

<!-- bootstrap 自动填充 -->
<script src="/ace/js/typeahead-bs2.min.js"></script>

<!-- jquery滚动条插件 -->
<script src="/ace/js/jquery.slimscroll.min.js"></script>
<!-- jquery 下拉框插件 -->
<script src="/ace/js/chosen.jquery.min.js"></script>
<!-- bootstrap 计数器插件 -->
<script src="/ace/js/fuelux/fuelux.spinner.min.js"></script>
<!-- textarea元素根据录入的内容自动调整元素的高度 -->
<script src="/ace/js/jquery.autosize.min.js"></script>
<!-- jquery 字数限制功能插件 -->
<script src="/ace/js/jquery.inputlimiter.1.3.1.min.js"></script>
<!-- jquery 多格式输入插件 -->
<script src="/ace/js/jquery.maskedinput.min.js"></script>


<!-- ace scripts -->
<!-- 单日期插件 -->
<script src="/ace/js/ace-elements.min.js"></script>
<script src="/ace/js/ace.min.js"></script>
<script src="/ace/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/ace/js/ace-extra.min.js"></script>
<!-- jqgrid -->
<script type="text/javascript" src="/js/jqgrid/jquery.jqGrid.js"></script>
<script type="text/javascript" src="/js/jqgrid/grid.locale-cn.js"></script>

<!-- 弹出框 -->
<script type="text/javascript"
	src="/js/art-dialog/dialog-plus.js"></script>
<!-- 验证插件 -->
<script type="text/javascript" src="/js/jquery.validate.js"></script>
<script type="text/javascript" src="/js/messages_zh.js"></script>
<!-- 树图 -->
<script type="text/javascript" src="/js/ztree/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/js/ztree/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="/js/ztree/jquery.ztree.exedit-3.5.js"></script>
<!-- 工具 -->
<script type="text/javascript" src="/js/giian.core.js"></script>
<script type="text/javascript" src="/js/tool.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<!-- 上传 -->
<script type="text/javascript" src="/js/uploadify/jquery.uploadify.js"></script>
<!-- 提示框 -->
<script type="text/javascript" src="/js/jgrowl/jquery.jgrowl.min.js"></script>
<!--范围日期-->
<script type="text/javascript" src="/ace/js/date-time/daterangepicker.min.js"></script>
<script type="text/javascript" src="/ace/js/date-time/moment.min.js"></script>
<!--框架补充js-->
<script type="text/javascript" src="/js/ace-patch.js"></script>




