<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.smarthse.business.dao.AdminUserMapper">
	<resultMap id="AdminUserDetail" type="cn.smarthse.business.model.AdminUser"
		extends="BaseResultMap">
		<!-- 行政区域 -->
		<association property="area"
			javaType="cn.smarthse.business.model.system.SysAreaStandard">
			<id property="id" column="a_id" />
			<result property="name" column="a_name" />
		</association>
		<!-- 所在单位 -->
	</resultMap>
	
	
	<!-- 查询用户列表 -->
	<select id="query" parameterType="map" resultMap="BaseResultMap">
		SELECT a.* FROM admin_user a left join sys_area_standard b on
		a.area_id = b.id
		where
		a.is_valid = 1
		<if test=" name != null and name!='' ">
			and (a.real_name like CONCAT(CONCAT('%', #{name}),'%') or
			a.user_name
			like CONCAT(CONCAT('%', #{name}),'%'))
		</if>		
	</select>

</mapper>