<!-- 公共js -->

<!--[if !IE]> -->
<script type="text/javascript">
			window.jQuery || document.write("<script src='/static/ace/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>
<!-- <![endif]-->

<!--[if IE]>
	<script type="text/javascript">
 		window.jQuery || document.write("<script src='/static/ace/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
	</script>
<![endif]-->

<script type="text/javascript">
	if("ontouchend" in document) document.write("<script src='/static/ace/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>

<script src="/static/ace/js/bootstrap.min.js"></script>
<script src="/static/ace/js/typeahead-bs2.min.js"></script>
<script src="/static/ace/js/ace-elements.min.js"></script>
<script src="/static/ace/js/ace.min.js"></script>

<!-- jqgrid -->
<script type="text/javascript" src="/static/js/jqgrid/jquery.jqGrid.js"></script>
<script type="text/javascript" src="/static/js/jqgrid/grid.locale-cn.js"></script>

<!-- 弹出框 -->
<script type="text/javascript"
	src="/static/js/art-dialog/dialog.js"></script>

<!-- 验证插件 -->
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/messages_zh.js"></script>

